@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 36 29% 10%;
    --background: 0 0% 100%;
    --primary: 215 28% 31%;
    --secondary: 275 28% 88%;
    --accent: 215 28% 48%;
  }

  .dark {
    --text: 36 29% 90%;
    --background: 0 0% 0%;
    --primary: 215 28% 69%;
    --secondary: 275 28% 12%;
    --accent: 215 28% 52%;
  }

  .prose-accent-bullet li::marker {
    @apply text-accent;
  }
}

@layer base {
  body {
    @apply bg-background text-text;
  }
}
